/*
.tot-control {
    text-decoration: none;
    padding: 15px;
    margin: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: blueviolet;
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
}
*/
/*
.contorno {
    background-color: darkorchid;
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
    padding: 5px;
    margin: 5px;
    width: 200px;
}
*/
/*
.ima-contor {
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
    width: 150px;
}

.tex-contor {
    background-color: chartreuse;
    border-radius: 15px;
    border: 5px;
    border-color: black;
    border-style: groove;
    padding: 5px;
    margin: 5px;
    font-size: 22px;
    width: 140px;
}
*/